/* ჰედეის დასაწყისი */
.logo {
	width: 100px;
	margin-top: 30px;
	margin-left: 30px;
	padding-bottom: 17.5px;
}
.header {
	padding: 0px;
}
.ul {
	margin-left: 30px;
}
.a {
	text-decoration: none;
	color: #3D58A6;
	font-size: 22px;
	font-family: "nino_mtavruli_bold";
}
.li {
	padding-top: 7.5PX;
	padding-bottom: 7.5PX;
}
.a:hover {
	color: #EE4036;
}
 /* ჰედეის დასსარული */
.banner{
	margin-left: 30px;
	margin-top: 22.5px;
}
/* footer დასაწყისი */
.footer{
	margin-left: 30px;
	padding-top: 30px;
    padding-bottom: 30px;
}
.fb{
	height: 30px;
}
.youtube{
	height: 30px;
}
.social-list{
	display: inline-block;
	margin-right: 35px; 
}
.line{
	width: 1px;
	height: 30px;
	background-color: #3D58A6;
}
/* footer დასსრული */
/* კონტაქტის გვერდის დასაწყისი */
.contact-section{
	width: 300px;
	display: block;
	/*margin: 0 auto;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}
.contact-list{
	text-align: center;
}
.heading{
	text-align: center;
	font-family: "nino_mtavruli_bold";
	font-size: 20px;
	color: #3D58A6;
}
.left-side,
.right-side{
	font-family: "bpg_ingiri_arial";
	font-size: 16px;
}
.left-side{
	color: #808080;
}
/* კონტაქტის გვერდი დასასრული */
/* სიახლეების გვერდის დასაწყისი */
.kalendari7 {
	width: 56px;
	height: 56px;
	margin-left: 30px;
	margin-top: 35.5px;
}
.maisi {    
	margin-left: 30px;
    color: #3D58A6;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    margin-top: 6px;
    font-size: 16pt;
}
.paragrafi{
    margin-left: 30px;
    color: #000000;
    margin-top: 26px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 20px;
}
.onlyface {
	width: 270px;
	margin-left: 30px;
	margin-top: 23px;
}
.paragraph1 {
	margin-top: 23px;
	font-size: 16px;
	margin-left: 30px;
	font-family: 'bpg_ingiri_arial';
	margin-right: 190px
}
.paragraph2 {
	margin-top: 23px;
	margin-left: 30px;
	font-size: 16px;
	font-family: 'bpg_ingiri_arial';
	margin-right: 190px
}
.paragraph3 {
	margin-top: 23px;
	font-size: 16px;
	margin-left: 30px;
	font-family: 'bpg_ingiri_arial';
	margin-right: 190px
}
.kalendari8 {
	margin-top: 55px;
	margin-left: 30px;
	width: 56px;
}
.lppicture {
	width: 270px;
	margin-left: 30px;
	margin-top: 25px;
}
.kalendari9 {
	margin-top: 55px;
	margin-left: 30px;
	width: 56px;
}
.footer{
	margin-left: 30px;
	padding-top: 30px;
    padding-bottom: 30px;
}
.fb{
	height: 30px;
}
.youtube{
	height: 30px;
}
.social-list{
	display: inline-block;
	margin-right: 35px; 
}
.line{
	width: 1px;
	height: 30px;
	background-color: #3D58A6;